{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".ts", ".tsx"],
      },
    },
  },
  "plugins": ["react", "jest", "@typescript-eslint", "prettier"],
  "rules": {
    "import/extensions": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function",
      },
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "@typescript-eslint/no-explicit-any": [
      "off",
      {
        "fixToUnknown": false,
        "ignoreRestArgs": false,
      },
    ],
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    // "prettier/prettier": ["error", { "requirePragma": false }],
    // "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    // "quotes": "off",
    // "@typescript-eslint/quotes": "error",
    // "no-shadow": "off",
    // "@typescript-eslint/no-shadow": "error",
    // "no-use-before-define": "off",
    // "@typescript-eslint/no-use-before-define": "error",
    // "@typescript-eslint/no-unused-vars": [
    //   "error",
    //   {
    //     "vars": "all",
    //     "argsIgnorePattern": "^_",
    //     "args": "all",
    //     "caughtErrors": "none",
    //     "ignoreRestSiblings": true,
    //   },
    // ],
    // "@typescript-eslint/no-explicit-any": [
    //   "off",
    //   {
    //     "fixToUnknown": false,
    //     "ignoreRestArgs": false,
    //   },
    // ],
    // "@typescript-eslint/explicit-function-return-type": [
    //   "off",
    //   {
    //     "allowExpressions": true,
    //   },
    // ],
  },
}
